apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: db
  namespace: kampungconnect
spec:
  serviceName: postgres
  selector:
    matchLabels:
      app: db
  replicas: 1
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
        - name: postgres
          image: postgres:14
          env:
            - name: POSTGRES_USER
              value: admin
            - name: POSTGRES_PASSWORD
              value: password
            - name: POSTGRES_DB
              value: kampungconnect
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: pg-data
              mountPath: /var/lib/postgresql/data
            - name: db-init-script
              mountPath: /docker-entrypoint-initdb.d/init.sql
              subPath: init.sql
      volumes:
        - name: db-init-script
          configMap:
            name: db-init-script
  volumeClaimTemplates:
    - metadata:
        name: pg-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 2Gi
        storageClassName: hostpath

---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: kampungconnect
spec:
  selector:
    app: db
  ports:
    - port: 5432
      targetPort: 5432
